<dt>
	{{name}}
</dt>
<dd>

	<button class="btn {{#if eaten}}btn-success{{else}}btn-danger{{/if}} change-eat" data-id="{{id}}"data-neweat="{{eaten}}">
		{{#if eaten}}Order!{{else}}Not Today!{{/if}}
	</button>
	<button class="btn btn-secondary delete-burger" data-id="{{this.id}}">X</button>
</dd>