<dt>
	{{name}}
</dt>
<dd>
	{{#if eaten}}
	<button class="btn btn-success change-eat" data-id="{{id}}" data-neweat="{{eaten}}">Order!</button>
	{{else}}
	<button class="btn btn-danger change-eat" data-id="{{id}}" data-neweat="{{eaten}}">Not Today!</button>
	{{/if}}
	<button class="btn btn-secondary delete-burger" data-id="{{this.id}}">X</button>
</dd>