<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eaten}}">
		{{#if eaten}}EAT!{{else}}SPIT IT OUT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
